
.title{
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
}

.card{
    width: 100%;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--shadow);
    margin-top: 10px;
    display: grid;
    grid-template-columns: 15% 30% 55%;
    margin-bottom: 20px;
}

.human{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    width: 35px;
    margin-right: auto;
}

.arrow{
    margin-left: auto;
    width: 25px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px !important;
}

.other{
    border-radius: 10px;
    box-shadow: var(--shadow);
    background-color: white;
    width: 100%;
    height: 150px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
}

.other_title{
    margin-top: 30px;
    font-size: 17px;
    height: max-content;
    width: 100%;
    font-weight: 700;
    text-align: center;
}

.other_subtitle{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    opacity: 0.5;
    font-weight: 400;
    font-size: 15px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}